@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

h3 {
  text-align: center;
}