.buttonContainer {
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(151, 151, 151);
  margin: 0 auto;
}

.numberButton, 
.symbolButton, 
.actionButton {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: white;
  border: .5px solid rgb(151, 151, 151);
  width: 25%;
}

.symbolButton {
  color: white;
  background-color: rgb(160, 1, 30);
  font-weight: 300;
}

.actionButton {
  width: 75%;
  font-weight: 300;
}