.button-container {
  display: flex;
}
.button-container .number,
.button-container .action {
  text-align: center;
  border-collapse: collapse;
  width: 80%;
  border-top: none;
  font-family: 'Roboto', sans-serif;
}
.button-container .number td,
.button-container .action td {
  border: 2px solid #979797;
  font-size: 2.5rem;
  padding: 1rem;
  font-weight: 700;
}
.button-container .number td.clear,
.button-container .action td.clear {
  border-top: none;
  font-weight: 300;
}
.button-container .action {
  width: 20%;
  background-color: #A0011E;
  color: white;
}
.button-container .action #divide {
  border-top: none;
}
.button-container .action td {
  font-weight: 300;
  font-size: 2.5rem;
  border-left: none;
}
